 
/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
 @font-face {
     font-family: XtreemFat;
     src: url(../Fonts/XtreemFat.woff);
}
 @font-face {
     font-family: XtreemMedium;
     src: url(../Fonts/XtreemMedium.woff);
}
 @font-face {
     font-family: XtreemThin;
     src: url(../Fonts/XtreemThin.woff);
}
 * {
     margin: 0;
     padding: 0;
     -webkit-tap-highlight-color: transparent;
}

 p{
     font-family: "Alegreya", serif;
     font-size:18px;
}
@media (max-width: 768px){
    p{
        font-size:28px;
   }
}
 .ImageFlexbox{
     width:100%;
}
 .GeneralContainer{
     background: #0d0b0c;
}

.VideoContainer{
    text-align: center;
}

    iframe {
        width: 60vw;
        height: 33vw;
        margin: 0 auto;
    }
    
 .BannerTour{
     width:50%;
     padding-top:10%;
     padding-bottom:5%;
     margin: 0 auto;
     display: block;
     max-width: 600px;
}
 .ContentContainer{
     background-image: url("../Images/FondoBN.jpg");
     background-position: top center;
     background-repeat: no-repeat;
     background-size: 100% auto;
     margin-top:-1px;
}
 .FirstRowContainer{
     display: flex;
     flex-direction: row;
     padding:0 8%;
     justify-content: center;
     align-items: center;
}
 @media (max-width: 800px){
     .FirstRowContainer{
         flex-direction: column;
    }
}
 .CamposFechasConciertos{
     max-width: 960px; /*Ancho máximo contenedor fechas*/
     width:80%; /*Ancho contenedor fechas*/
     margin: 0 auto;
     padding: 30px;
}
 .CamposFechasConciertos div{
     display:flex;
     flex-direction: row;
     min-height: 60px; /*Altura fechas*/
     align-items: center;
}

@media (max-width:768px){
    .CamposFechasConciertos div{
        flex-direction: column;
        min-height: 2px;
   }
}
 .FechaConcierto{
     color:#000;
     display:flex;
     text-align: right;
     gap:2vw;
     animation: fadeInAnimation 2s ease-in-out 1;
     align-items: center;
     justify-content: space-between;
}
 @media (max-width:768px){
     .FechaConcierto{
         display: block;
         text-align: center;
         gap:1vw;
         padding-top:10vw;
         padding-bottom:10vw;
    }
}
 .FechaFinalizada p{
     color: white!important;
     opacity:50%;
}
 .DiaMesConcierto{
     font-size:18px;
     color: white;
     flex-basis: 14%; /*Ancho fecha mes día*/
}

.BlurText{
    color:white;
    filter: blur(6px);

}
 .CiudadConcierto{
     font-size:20px;
     display: inline-block;
     flex-basis: 32%; /*Ancho ciudad país*/
     text-align:left;
     color: #617e3a;
     
}
@media (max-width:768px){
    .CiudadConcierto{
        text-align: center;
   }
}
 .LugarConcierto{
     text-align: left;
     color:#617e3a;
     flex-basis: 32%;/*Ancho lugar concierto*/
     font-size: 20px;
}
 @media (max-width:768px){
     .LugarConcierto{
         text-align: center;
         padding:4px 25px 16px 25px;
    }
}
.BotonConcierto{
    flex-basis: 22%;/*Ancho botón*/
}
 .BotonConcierto button{
     background-color: transparent;
     border: 0 solid transparent;
     transition: 0.3s;
}
 .BotonVenta button{
     cursor: pointer;
}

.BotonSoldOut button{
    width:80%;
}

@media (max-width:768px){

    .BotonVenta button{
        width:68%;
   }

    .BotonSoldOut button{
        width:60%;
   }

   .BotonSoon button{
    width:68%;
}
}
 .BotonConcierto button:hover{
     transform: translate(0, -4px);
}
 .BotonConcierto img{
     width:100%;
     display:block;
}

.FooterRimas img{
    display:block;
    margin:0 auto;
    padding-top:5%;
    width:16%;
}

@media (max-width:768px){
    .FooterRimas img{
        width: 40%;
}
}


/*  ------ ANIMACIONES ----- */

 @keyframes fadeInAnimation {
     0% {
         opacity: 0;
         transform: translatey(20px);
    }
     100% {
         opacity: 1;
         transform: translatey(0px);
    }
}

/*  ------ SCROLLBAR ----- */

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #222;
 

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #617e3a;
    border-radius: 100px;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3b4f21;
  }